<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Directorio{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Directorio de Clientes</h1>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
        {% endif %}
        <hr>
    </header>

    {% block content %}{% endblock %}
</body>
</html>

